.head {
  text-align: center;
  font-family: Arial, sans-serif;
  font-size: 72px;
  color: rgb(255, 161, 0);
}

.drimg{
  display:block;
  margin: auto;
  border: 2px solid orange;
  border-radius: 50%;
  overflow: hidden;
  height: 280px;
  width: 280px;
}

.drname{
  margin-top: 2px;
  text-align: center;
  font-family: Arial, sans-serif;
  font-size: 48px;
  color: rgb(124, 180, 195);
}

.jobtitle {
  margin-top: -26px;
  text-align: center;
  font-family: Arial, sans-serif;
  font-size: 36px;
  color: rgb(124, 180, 195);
}


input{
  border-color: rgb(180, 180, 180);
  border-radius: 7px;
  color: rgb(124, 180, 195);
}

.date {
  border-color: rgb(180, 180, 180);
  border-radius: 7px;
  color: rgb(124, 180, 195);
  font-size: 28px;
  width: 300px;
}

.reasons {
  font-size: 20px;
}

.available{
  border-color: rgb(180, 180, 180);
  border-radius: 7px;
  color: rgb(124, 180, 195);
  font-size: 32px;
  height: 60px;
}

#bookit{
  display:block;
  margin: auto;
  font-family: Arial, sans-serif;
  font-size: 40px;
  color: rgb(255, 161, 0);
  /*padding: 10px;*/
}

#back{
  position: absolute;
  /*padding-top: 10px;*/
  text-align: center;
  left: 5px;
  top: 20px;
  /*border: 2px solid black;
  border-radius: 10%; */
  height:50px;
  width:50px;
}
