h1{
  text-align: center;
  font-family: Arial, sans-serif;
  font-size: 28px;
  color: rgb(255, 161, 0);
}

img{
  display:block;
  margin: auto;
}

.drname{
  margin-top: 24px;
  text-align: center;
  font-family: Arial, sans-serif;
  font-size: 24px;
  color: rgb(124, 180, 195);
}

.jobtitle {
  margin-top: -26px;
  text-align: center;
  font-family: Arial, sans-serif;
  font-size: 18px;
  color: rgb(124, 180, 195);
}


input{
  border-color: rgb(180, 180, 180);
  border-radius: 7px;
  color: rgb(124, 180, 195);
}

.date {
  border-color: rgb(180, 180, 180);
  border-radius: 7px;
  color: rgb(124, 180, 195);
  font-size: 20px;
  width: 180px;
}

.available{
  border-color: rgb(180, 180, 180);
  border-radius: 7px;
  color: rgb(124, 180, 195);
  font-size: 15px;
  height: 20px;
}

#bookit{
  display:block;
  margin: auto;
  font-family: Arial, sans-serif;
  font-size: 20px;
  color: rgb(255, 161, 0);

}
